# latex
*.xmpi
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.xmpdata
*.swp
*.pyg
*.bkp

# python
**/venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.mypy_cache/
.pytype/
.env
.venv
env/
venv/
ENV/

# vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# project
**/raw.csv
